/* App.css */

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#editor {
  width: 50%;
  height: 70%;
  padding: 10px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

#preview {
  width: 50%;
  height: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  overflow-y: auto; /* Enable vertical scrollbar */
  
}

#preview img {
  max-width: 100%;
  height: auto;
}

#preview a {
  color: #007bff;
  text-decoration: none;
}

#preview a:hover {
  text-decoration: underline;
}

#preview pre {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

#preview blockquote {
  border-left: 2px solid #007bff;
  margin: 0;
  padding: 10px 20px;
}

#preview ul {
  padding-left: 20px;
}

#preview ul li {
  margin: 5px 0;
}

#preview strong {
  font-weight: bold;
}

#preview code {
  background-color: #f0f0f0;
  padding: 2px 4px;
  border-radius: 3px;
  font-family: Consolas, monospace;
}

#preview p {
  margin: 10px 0;
}

/* Customize the scrollbar */
#preview::-webkit-scrollbar {
  width: 10px;
}

#preview::-webkit-scrollbar-track {
  background: #f0f0f0;
}

#preview::-webkit-scrollbar-thumb {
  background: #007bff; /* Color of the thumb (scrollbar handle) */
  border-radius: 5px; /* Rounded corners for the thumb */
}

#preview::-webkit-scrollbar-thumb:hover {
  background: #0056b3; /* Change the thumb color on hover */
}